/**
 * div used to insert development notes
 * or error messages. Should be clearly
 * visible but unobtrusive.
 */

div.devnote {
    background-color: #DDCCCC;
    color: #A0A0A0;
    text-align: center;
    font-style: italic;
    margin: 3px;
}

/**
 * boxes with informational or error messages
 */

.error, .info {
    margin: auto;
    padding: 25px;
    max-width: 600px;
}

.error {
    border: 1px solid red;
    background-color: #FFAAAA;
    color: #800000;
}

.info {
    border: 1px solid blue;
    background-color: #AAAAFF;
    color: #000080;
}

/**
 * alternating row colors in tables
 */

tr.odd {
    background-color: white;
}

tr.even {
    background-color: #EEFFDD;
}

tr.even:hover, tr.odd:hover {
    background-color: #FF6600;
}

/**
 * minigrid layout
 */

/**
 * wrapper
 */

#minigrid {
    width: 960px;
    margin: 0 auto;
}

#minigrid .row {
    clear: left;
}

.c1, .c2, .c3, .c4, .c8, .c12 {
    margin-right: 17px;
    float: left;
}

#minigrid .item {
    float: left;
    margin-right: 11px;
}

.c1 {
    width: 63px;
}

.c2 {
    width: 143px;
}

.c3 {
    width: 223px;
}

.c4 {
    width: 303px;
}

.c8 {
    width: 623px;
}

.c8 .item, .c4 .item {
    width: 300px;
}

.c12 {
    width: 943px;
}

.c12 .item {
    width: 926px;
}

#minigrid h3 {
	color:green;
	font-weight:bold;
	font-size:larger;
}

.widget label {
	color:red;
	font-weight:bold;
}

div.notice {
	width: 10em;
	float: right;
	background-color: #f0f0f0;
	border: 1px dotted black;
	padding: 1em 1em;
}
/**
 * legacy styles
 */

/*
x-p {
	font-family:Arial;
	font-size:small;
	margin-top:-10px
}
*/
p.head_green {
	color:green;
	font-size:x-large;
	font-weight:bold;
	margin-top:20px;
	margin-left:10px;
}
p.head_red {
	color:red;
	font-size:x-large;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:30px;
	margin-left:10px;
}
span.red {
	color:red;
	font-weight:bold;
}
span.green {
	color:green;
	font-weight:bold;
	font-size:larger;
}
hr.green {
	height:5px;
	color:green;
	background-color:green;
}
td.filter {
	font-family:Arial;
	font-size:small;
	border:none;
	vertical-align:top;
	padding-right:40px;
	padding-bottom:20px;
}
a.big:link {
	font-family:Arial;
	font-weight:bold;
	font-size:larger;
	color:blue;
}
a.big:active {
	font-family:Arial;
	font-weight:bold;
	font-size:larger;
	color:blue;
}
a.big:hover {
	font-family:Arial;
	font-weight:bold;
	font-size:larger;
	color:blue;
}
a.big:visited {
	font-family:Arial;
	font-weight:bold;
	font-size:larger;
	color:blue;
}
a.big:focus {
	font-family:Arial;
	font-weight:bold;
	font-size:larger;
	color:blue;
}
a.small {
	font-family:Arial;
	font-weight:bold;
	color:blue;
}
a.small {
	font-family:Arial;
	font-weight:bold;
	color:blue;
}
a.small {
	font-family:Arial;
	font-weight:bold;
	color:blue;
}
a.small {
	font-family:Arial;
	font-weight:bold;
	color:blue;
}
a.small {
	font-family:Arial;
	font-weight:bold;
	color:blue;
}
a.sector:link {
	font-family:Arial;
	text-decoration:underline;
	color:black;
	margin-left:10px;
}
a.sector:visited {
	font-family:Arial;
	text-decoration:underline;
	color:black;
	margin-left:10px;
}
a.sector:hover {
	font-family:Arial;
	text-decoration:underline;
	color:black;
	margin-left:10px;
}
a.sector:active {
	font-family:Arial;
	text-decoration:underline;
	color:black;
	margin-left:10px;
}
a.sector:focus {
	font-family:Arial;
	text-decoration:underline;
	color:black;
	margin-left:10px;
}
th.head_output {
  border:none;
  vertical-align:middle;
  text-align:left;
  font-family:Arial;
  font-size:small;
  font-weight:bold;
  padding-left:5px;
  padding-right:5px;
}
td.output {
  border:none;
  vertical-align:top;
  text-align:left;
  font-family:Arial;
  font-size:small;
  padding-left:3px;
}
td.subsection_head {
  border:none;
  vertical-align:top;
  text-align:left;
  font-family:Arial;
  font-weight: bold;
  padding-left: 20px;
  color:green;
}
td.section_head {
  border:none;
  vertical-align:top;
  text-align:left;
  font-family:Arial;
  font-size: large;
  font-weight: bold;
  padding-left: 0px;
  color:green;
}
td.section, td.subsection {
  border:none;
  border-bottom:thin solid #ffffff;
  vertical-align:top;
  text-align:right;
  font-family:Arial;
  font-weight: bold;
  font-size:small;
  background-color:#eeffdd;
}
td.section {
  padding-left: 20px;
}
td.subsection {
  padding-left: 40px;
}
td.normal {
  border:none;
  border-bottom:thin solid #ffffff;
  vertical-align:top;
  text-align:right;
  font-family:Arial;
  font-weight: bold;
  font-size:small;
  background-color:#eeffdd;
}
td.details {
  border-bottom:thin solid #eeffdd;
  vertical-align:bottom;
  text-align:left;
  font-family:Arial;
  font-size:small;
  padding-left:3px;
}

th.output {
  border: thin solid Silver;
}

.number {
	text-align:right;
}

.error-msg {
	padding: 0.5em;
	margin: 0.5em 2em;
	font-weight: bold;
	font-size: 110%;
	border: 2px dashed red;
	color: #800000;
	background: white;
}

.advice-msg {
	padding: 0.4em;
	border: 1px solid #aaa;;
	background-color: #f7f7f7;
	font-size: 110%;
}

.specialval {
	color:red;
	font-weight:bold;
}

.question {
	color:green;
	font-weight:bold;
	font-size:larger;
}
/*
div#content {
        background-image: url(images/180px-Watermark_draft.png);
}
*/
